XMLParserConsoleTester/XMLParsing_UTest/XMLJobSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AiScheduler">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Job" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="TotalSize"/>
              <xs:element type="xs:string" name="ClockRate"/>
              <xs:element type="xs:string" name="ExecutionTime"/>
              <xs:element type="xs:string" name="Cached"/>
              <xs:element type="xs:string" name="CPUUtilization"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>